@import '../_vars';

.content-container {
    //@include gradient-content;
}

.content-box {
    margin: 0 auto;
    padding: 10px;
    //background-color: rgba(15, 17, 17, 0.185);
    //border: solid 2px rgb(28, 46, 42);
}

.noview {
    height: auto;
    .viewbox {
        border: solid 2px rgb(27, 46, 40);
        margin: 20px auto;
        background: linear-gradient(to bottom, $black-t 0%, rgba(0, 0, 0, 0) 100%)
    }
}

.view {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: solid 2px rgb(28, 46, 42);
    border-left: none;
}

.type-title {
    //background-color:rgba(22, 189, 201, 0.075);
    @include gradient-title;
    font-size: 400%;
    text-align: center;
    margin: 50px 0;
    color: $cyan-d;
    text-transform: uppercase;
    height: auto;
}

@media (min-width: 812px) { 
    .noview {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        //align-items: flex-start;
        //align-content: space-around;
        //flex-flow: flex-start;
        .viewbox {
            width: 48%;
        }
    }    
    .view { 
        flex-direction: row;
        //background-color:red;
    }
    .type-title {
        width: 100%;
    }
    .content-box {
        width: 80%;
        padding: 0;
    }
}
@media (min-width: 1661px) { //still needs testing
    .noview {
        .viewbox {
            width: 30%;
        }
    }
}
