@import '../_vars';

.content-container {
    //@include gradient-content;
}

.content-box {
    margin: 0 auto;
    //background-color: rgba(15, 17, 17, 0.185);
    color: $cyan-l;
    //border: solid 2px rgb(28, 46, 42);
    padding: 5px;
}

.noview {
    .viewbox {
        border: solid 2px rgb(28, 46, 42);
    }
}

.view {
    display: flex;
    flex-direction: column;
    height: 100vh;
    border: solid 2px rgb(28, 46, 42);
    border-left: none;
}

.type-title {
    //background-color:rgba(22, 189, 201, 0.075);
    @include gradient-title;
    font-size: 400%;
    text-align: center;
    margin: 50px 0;
    color: $cyan-d;
    text-transform: uppercase;
    height: auto;
}

@media (min-width: 812px) { 
    .noview {
        display: flex;
        flex-wrap: wrap;
        .viewbox {
            width: 50%;
        }
    }    
    .view { 
        flex-direction: row;
        //background-color:red;
    }
    .type-title {
        width: 100%;
    }
    .content-box {
       width: 80%;
    }
}
@media (max-height: 560px) {
    .view { 
        flex-direction: row;
        height: 100vh;
    }
    .type-title {
        width: 100%;
    }
}