@import '../vars';

.viewbox {
    height: calc(100vh - 30px - 150px);
    padding: 5px;
    background-color: rgba(255, 255, 0, 0.253);

    p {//prob temp
        margin: 0;
    }
}

@media (max-height: 567px) { //sideway mobile view
    .viewbox {  
        flex-wrap: wrap;
        height: 100%;
        width: 80%;

    }
}