@import '../vars';

.viewbox {
    height: auto;
    width: 100%;
    padding: 10px;
    //background-color: rgba(255, 255, 0, 0.253);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.item-section { //default, item-info
    width: auto;
    height: auto;
    //background-color:red;
    display: flex;

    //background-color:rgba(0, 128, 0, 0.384);

    &:first-of-type { //item-title
        height: 7%;
        //background-color: rgba(255, 192, 203, 0.384);
    }
    &:last-of-type { //item-link and item-img
        height: 60%;
        flex-direction: column-reverse;
        //background-color: rgba(255, 0, 0, 0.349);
    }
}

.item-title h1 {//prob temp
    width: 100%;
    margin-top: 0;
    font-size: 170%;
    color: $cyan-d;
}

.item-info p {
    width: auto;
    margin: 3%;
    color: $cyan-l;
}

.item-links p {
    width: auto;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
   
    a {
        height: 2rem;
        //background-color: rgba(10, 10, 10, 0.233);
        background-color: $cyan-d;
        border: solid $cyan-d 2px;
        border-radius: 10px;
        color: $black;
        text-decoration: none;
        font-size: 110%;
        padding: 5px;
        &:hover {
            background-color: $cyan;
            border-color: $cyan;
        }
    }
}

.item-img {
    width: 90%;
    height: 80%;
    margin: 20px auto;
    //background-color: yellow;
    overflow:hidden;
}


@media (max-height: 567px), (min-width: 812px) {
    .viewbox {  
        flex-wrap: wrap;
    }
    .item-section {
        height: 33%;

        &:last-of-type {
            height: 60%;
        }
    }
}