@import '../vars';

.viewlist {
    height: 150px;
    width: 100%;
    display: flex;
}


.viewlist-button {
    width: calc(3vw + 20px);
    height: 150px;
    //background-color:rgba(255, 255, 255, 0.15);
    background-image: linear-gradient(to right, rgba(117, 216, 186, 0.22) 0%, rgba(18, 228, 147, 0) 100%);
    &:last-of-type {
        background-image: linear-gradient(to left, rgba(117, 216, 186, 0.22) 0%, rgba(18, 228, 147, 0) 100%);
    }
}

.viewlist-box {
    height: 100%;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    align-content: flex-start;
    margin: auto 0;
    //background-color:rgba(0, 255, 106, 0.247);
}

.viewlist-item {
    height: 100px;
    min-width: 100px;
    max-width: 100px;
    margin: auto 10px;
    //background-color: rgba(19, 54, 46, 0.637);
    color: $cyan-d;
}

@media (max-height: 567px), (min-width: 812px) {
    .viewlist { //includes box and 2 buttons
        display: flex;
        flex-direction: column;
        width: 15%;
        height: 98%;
        //background-color:red;
        margin: auto 0;
    }
    .viewlist-box { //includes items
        flex-direction: column;
        height: 100%;
        width: 100%;
        overflow-y: scroll;
        overflow-x: none;
        justify-content: flex-start;
    }

    .viewlist-item {
        margin: 5px auto;
        min-height: 100px;
    } 

    .viewlist-button {
        width: 100%;
        height: calc(3vw + 10px);
    }
}