@import '../Vars';

.logo-svg {
    width: calc(20px + 1vw);
    //height: 30px;
    margin: 0 auto;
    display:block; 
    opacity: 1;
    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
    .svg-style { 
        fill: $cyan-l; 
    }
}

@media (min-width: 812px) {
    // .logo-svg {
    //     width: 12%;
    //     //height: 50%;
    // }
}