@import '../Vars';

.home-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    font-size: 130%;
    margin: 20px 30px;
    
    

    a {
        color: $grey-blue-d;
        text-decoration: none;
        font-family: $font-sand;
        font-weight: bold;
        height: auto;
        padding: 5px;
        border: solid 2px $border;
        border-radius: 5px;
        box-shadow:0 1px 5px $black;
        color: $cyan-l;
        @include gradient-box;
        text-transform: uppercase;

        &:hover {
            color: $cyan-l-d;
            box-shadow: inset 0 0 5px $black;
        }
       
        // background-color: rgba(139, 0, 0, 0.507);
    }
}

@media (min-width: 812px) { 
        // .home-link a:hover {
        //     border-color: $cyan-l;
        //     border-bottom: solid 3px;
        //     background: linear-gradient(to top, rgb(13, 194, 155, 0.6) 0%, rgba(34, 121, 106, 0.7) 5%, rgba(34, 66, 60, 0.7) 20%,rgba(0,0,0,0) 40%);
        //     transition-duration: 0.4s;
        //     transition-timing-function: ease-in-out;
        // }
}



