@import '../_vars';

.contact-box {
    width: 100%;
    height: auto;
    min-height: 300px;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    margin-top: 200px;
}

.socialmedia-svg {
    width: calc(30px + 2vw);
    height: calc(30px + 2vw);
    border: solid 2px $border;
    border-radius: 15px;
    @include gradient-box;
    fill: $cyan-l;
   // @include gradient-title;
    //background: $grey-blue-d;
    padding: 10px;
    margin: 10px;
    .svg-style {
        fill: $cyan-l;
    }
    &:hover{
        .svg-style {
            fill: $cyan-l-d;
        }
        fill: $cyan-l-d;
        border: solid 2px $border;
        
    }
}

@media (min-width: 812px) {

}