@import '../_vars';

.contact-box {
    width: 100%;
    height: auto;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 100px;
    box-shadow:0 5px 5px $black;
}

.socialmedia-svg {
    width: calc(30px + 2vw);
    height: calc(30px + 2vw);
    border: solid 2px $border;
    border-radius: 15px;
    box-shadow:0 1px 5px $black;
    @include gradient-box;
    fill: $cyan-l;
   // @include gradient-title;
    //background: $grey-blue-d;
    padding: 10px;
    margin: 10px;
    &:hover{
        fill: $cyan-l-d;
        box-shadow: inset 0 0 5px $black;
        cursor: pointer;
    }
}

@media (min-width: 812px) {

}