@import '../_vars';

.contact-box {
    width: 100%;
    height: auto;
    min-height: 300px;  
    display: flex;
    justify-content: center; 
}

.socialmedia-svg {
    width: calc(30px + 2vw);
    height: calc(30px + 2vw);
    border: solid 2px rgb(46, 70, 62);
    background: linear-gradient(to bottom, $black-t 0%, rgba(0, 0, 0, 0) 100%);

   // @include gradient-title;
    //background: $grey-blue-d;
    padding: 10px;
    .svg-style {
        fill: $cyan-l;
    }
    &:hover{
        .svg-style {
            fill: rgb(153, 172, 165);
        }
        border: solid 2px rgb(36, 53, 47);
        
    }
}

@media (min-width: 812px) {

}