@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

$cyan-l: #10c286;
$cyan : rgba(1, 150, 100, 1);
$cyan-d : rgba(19, 105, 82, 1);
$dark : rgba(38, 40, 40, 1);
$grey : rgba(52, 54, 54, 1);
$light : rgba(149, 151, 150, 1);