@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

$font-bebas : 'Bebas Neue';
$font-nunito : 'Nunito';
$font-sand : 'Quicksand';
$font-rubik : 'Rubik';
$font-atlatsi : 'Atlatsi';
$font-tech : 'Share Tech Mono'; //usedd

$cyan-l: #b5d1c7;//old rgb(16, 194, 134);
$cyan : #2abb86;
$cyan-d : #1a8a6c;
$cyan-d-d : #17725a;
$dark : #222424;
$grey : #343636;
$grey-blue : #18584a;
$grey-blue-d : #17473d;
$light : #959796;

$black : rgb(15, 20, 19);
$black-t : rgba(9, 22, 20, 0.4);
//rgba(38, 68, 63, 0.5);

//DONT FORGET TO UPDATE GRADIENTS

@mixin gradient-dark {
    background: rgb(17, 20, 20);
    background: -moz-linear-gradient(left, rgb(17, 20, 20) 0%, rgb(27, 34, 33) 100%);
    background: -webkit-linear-gradient(left, rgb(17, 20, 20) 0%, rgb(27, 34, 33) 100%);
    background: linear-gradient(to right, rgb(17, 20, 20) 0%, rgb(23, 40, 36) 40%,rgb(23, 40, 36) 60%, rgb(17, 20, 20) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111414', endColorstr='#1b2221',GradientType=1 ); /* IE6-9 */
}

@mixin gradient-lessdark {
    background: rgb(17, 20, 20);
    background: -moz-linear-gradient(left, rgb(17, 20, 20) 0%, rgb(27, 34, 33) 100%);
    background: -webkit-linear-gradient(left, rgb(17, 20, 20) 0%, rgb(27, 34, 33) 100%);
    background: linear-gradient(to right, rgb(17, 24, 23) 0%, rgb(26, 46, 41) 40%,rgb(26, 46, 41) 60%, rgb(17, 24, 23) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111414', endColorstr='#1b2221',GradientType=1 ); /* IE6-9 */
}

@mixin gradient-title {
    background: rgb(17, 20, 20);
    background: -moz-linear-gradient(left, rgb(17, 20, 20) 0%, rgb(27, 34, 33) 100%);
    background: -webkit-linear-gradient(left, rgb(17, 20, 20) 0%, rgb(27, 34, 33) 100%);
    background: linear-gradient(to right, rgb(15, 24, 24, 0.1) 0%, $black-t 20%, $black-t 80%, rgb(15, 24, 24, 0.1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#111414', endColorstr='#1b2221',GradientType=1 ); /* IE6-9 */
}

/*
standard css mobile first

& working with 

@media (min-width: 812px) { //non-mobile view
    
}

@media (max-height: 567px) { //sideway mobile view

} 

*/