@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

$font-bebas : 'Bebas Neue';
$font-nunito : 'Nunito';
$font-sand : 'Quicksand';
$font-rubik : 'Rubik';
$font-atlatsi : 'Atlatsi';
$font-tech : 'Share Tech Mono'; //usedd

$cyan-l: #10c286;
$cyan : #019664;
$cyan-d : #136952;
$dark : #222424;
$grey : #343636;
$grey-blue : #18584a;
$grey-blue-d : #17473d;
$light : #959796;

@mixin gradient {
    background: rgb(25, 35, 37); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(13,17,18,1) 0%, rgba(29,49,48,1) 45%, $cyan-d 85%, $cyan 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(13,17,18,1) 0%,rgba(29,49,48,1) 45%, $cyan-d 85%, $cyan 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(13,17,18,1) 0%,rgba(29,49,48,1) 45%, $cyan-d 85%, $cyan 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d1112', endColorstr='#198c71',GradientType=1 ); /* IE6-9 */
}