@import './_vars';


header { 
    //DO show clickable arrow up when scrolling up
    //DO something when hovering/clicking logo (idea: "this logo isnt clickable ;")(idea: "add another object on intro animation")
    margin: 0 auto;
    padding: 10px 3vw;
    // @include gradient;
    // background-color: rgba(0, 0, 0, 0.2);
    display: inline-flex;
    justify-content: space-between;
    .logo-svg {
        width: 50px;
        height: 50px; 
        fill-opacity: 0.8;
        &:hover {
            fill-opacity: 0.9;
        }
    }

}