.Header-box {
    position: absolute;
    top: 0;
    height: auto;
    margin: 0 auto;
    padding: 10px 3vw;
    display:block;
    .img {
        width: auto;
        height: 70px;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url(../images/logo5.png);
    }

}