@import './_vars';

.home_link {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 50px;
    font-size: 150%;
    margin: 22px 10px 0 10px;

    // background-color:rgba(0, 128, 0, 0.096);
    span {
        color: $cyan;
    }
    a {
        color: $grey-blue;
        text-decoration: none;
        font-family: $font-nunito;
        font-weight: bold;
        padding-top: 3px;
        padding: 2px 1px 0 1px;
        text-transform: uppercase;
    }
    &:hover {
        span {
            color: $cyan-l;
        }
        a {
            color: $cyan-l;
        }   
    }
}

@media (min-width: 812px) {
    .home_link {
        &:hover {
            a {
                border-color: $cyan-l;
                border-bottom: solid;
                border-spacing: 10px;
            }
        }
    }
}



