@import './_vars';

.home_link {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 50px;
    font-size: 150%;
    margin-top: 22px;

    // background-color:rgba(0, 128, 0, 0.096);
    span {
        color: $cyan;
    }
    a {
        color: $grey;
        text-decoration: none;
        font-family: $font-nunito;
        font-weight: bold;
        padding-top: 2px;
    }
    &:hover {
        span {
            color: $cyan-l;
        }
        a {
            color: $cyan-l;
            border-color: $cyan-l;
            border-bottom: none ;
        }   
    }
}

@media (min-width: 812px) {
    .home_link {
        &:hover {
            a {
                border-bottom: solid;
            }
        }
    }
}



