@import './vars';

.Intro-box {
    height: 700px;
    top:0;


/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0d1112+0,1d3130+45,19715a+85,198c71+100 */
background: rgb(13,17,18); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(13,17,18,1) 0%, rgba(29,49,48,1) 45%, $cyan-d 85%, $cyan 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  rgba(13,17,18,1) 0%,rgba(29,49,48,1) 45%, $cyan-d 85%, $cyan 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  rgba(13,17,18,1) 0%,rgba(29,49,48,1) 45%, $cyan-d 85%, $cyan 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d1112', endColorstr='#198c71',GradientType=1 ); /* IE6-9 */

}