@import '../_vars.scss';

.footer-box {
    width: 100%;
    height: auto;
    padding: 20px;
    //min-height: 200px;
    background-color: rgba(9, 12, 12, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p {
        color: $cyan-l-d;
        margin: 10px;
        span, a {
            color: $cyan-d-d;
            &:hover {
                color: $border;
            }
        }
    }
}
.footer-section {
    border: solid 2px $border-d;
    border-radius: 15px;
    @include gradient-box;
    height: auto;
    margin: 10px;
}

@media (min-width: 812px) {
    .footer-box {
        flex-direction: row;
    }
    .footer-section {
        min-height: 150px;
    }
}