@import '../_vars';

.nav-box {
    // background-color: red;
    width: 80px;
    margin-left:40px;
    height: auto;
}

.nav-svg {
    width: 30px;
    height: 30px;
    fill-opacity: 0.8;
    margin-left:35px;
    margin-top: 5px;
    .cls-1 { fill: $cyan-l; }
    &:hover {
        fill-opacity: 1;
        cursor: pointer;
    }
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    width:100%;
}

.nav-link {
    margin: 10px;
    margin-left: auto;
    // &:hover {
    //     border-left: solid 5px $cyan-d;
    // }

    a {
        font-family: $font-rubik;
        font-weight: bold;
        text-transform: uppercase;
        text-emphasis: none;
        text-decoration: none;
        color: $grey-blue;
        padding: 2px;
        border:none 2px $cyan-l;
        &:hover {
            color: $cyan-l;
            border: solid;
            transition-duration: 0.2s;
            transition-timing-function: ease-out;
        }
    }  
}
