@import '../_vars';

.nav-box {
    //background-color: red;
    width: auto;
    height: auto;
}

.nav-svg {
    width: 20px;
    height: 20px;
    fill-opacity: 1;
    margin: 0 auto;
    display: block;
    
    .cls-1 { fill: $cyan-l; }
    &:hover {
        fill-opacity: 0.8;
        cursor: pointer;
    }
}

.nav-list {
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content:center;
    width:auto;
    //background-color: aqua;
    width: 10vw;
}

.nav-link {
    margin: 2px;
    padding: 5px;
    width: auto;
    // &:hover {
    //     border-left: solid 5px $cyan-d;
    // }
    background-color: rgba(11, 16, 12, 0.432);

    a {
        font-family: $font-sand;
        font-weight: bold;
        text-transform: uppercase;
        text-emphasis: none;
        text-decoration: none;
        color: $grey-blue-d;
        padding: 2px;
        border:solid 2px $black;
        &:hover {
            color: $cyan-l;
            border: solid 2px $cyan-l;
            box-shadow: 0 0 5px $cyan;
            text-shadow: 0 0 5px $cyan;          
        }
    }  
}

@media (min-width: 812px) {
    .nav-list {
        align-items:center;
    }
    .nav-svg {
        height: 30px;
        width: 30px;
    }
}
