@import '../_vars';

.nav-item {
    background-color: rgba(15, 15, 15,0.5);
    width: 80px;
    height: 20px;
    a {
        font-family: $font-rubik;
        text-transform: uppercase;
        text-emphasis: none;
        text-decoration: none;
    }
}