@import '../_vars';

.nav-link {
    margin: 10px;
    margin-left: 15px;
    // &:hover {
    //     border-left: solid 5px $cyan-d;
    // }

    a {
        font-family: $font-rubik;
        font-weight: bold;
        text-transform: uppercase;
        text-emphasis: none;
        text-decoration: none;
        color: $grey-blue;
        padding: 2px;
        border:none 2px $cyan-l;
        &:hover {
            color: $cyan-l;
            border: solid;
            transition-duration: 0.2s;
            transition-timing-function: ease-out;
        }
    }  
}